[Desktop Entry]
Name=Dconf Loader
Comment=Loads GNOME settings at first start
Icon=variety
Exec=sh -c "/usr/local/bin/xdconf && rm ~/.config/autostart/dconf-load.desktop"
Terminal=false
Type=Application
